/*!======视频及其部分内容板块开始*/
.OW_index_video{
    position: relative;
    margin-top: -40px;
    top: 0;
    left: 0;
    min-height: 600px;
    height: 90vh;
    overflow: hidden;
}
.OW_index_video_box{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.indexOW_video{
    width: auto;
    height: auto;
}
.indexOW_video_text{
    position: absolute;
    width: 35.1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(0,78px);
    min-width: 440.5px;
}
.indexOW_video_text>img{
    width: 100%;
}
.indexOW_video_text_button{
    display: flex;
    margin-top: 18px;
}
.indexOW_video_text_button>a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10.417vw;
    max-width: 200px;
    min-width: 163px;
    padding: 10.5px 0;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    margin: 0 10px;
    border-radius: 4px;
    letter-spacing: 1px;
}
.indexOW_video_text_button>a:first-child{
    background-color: #00a5E2;
    border: 3px solid #00a5E2;
    border-top: 0;
    border-bottom: 0;
}
.indexOW_video_text_button>a:last-child{
    background-color: #ff9c00;
    border: 3px solid #ff9c00;
    border-top: 0;
    border-bottom: 0;
}
.play_stop_video{
    position: absolute;
    left: 50%;
    bottom: 60px;
    transform: translateX(-40vw);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.play_stop_video_img{
    margin-right: 8px;
    width: 32px;
    height: 32px;
    background:url("../sprite_icon/play_stop.png") no-repeat 0 0;
}
.play_stop_video_text{
    color: #fff;
}
/*视频内容hover*/
.indexOW_video_text_button>a:first-child:hover{
    background-color: #0cbdff;
    border-color: #0cbdff;
}
.indexOW_video_text_button>a:last-child:hover{
    background-color: #ffb033;
    border-color:#ffb033;
}

/*
新闻公告
 */
.OW_News_Notice{
    background-color: rgb(246,246,246);
    padding: 30px 0;
    text-align: center;
}
.OW_News_Notice>.News_content{
    width: 100%;
    max-width: 1250px;
    padding: 0 30px;
    margin: 0 auto;
}
.OW_News_Notice>.News_content>.title{
    font-size: 48px;
    color: #333333;
    text-align: center;
    letter-spacing: 1px;
    margin: 0 0 30px 0;
}
.OW_News_Notice>.News_content>.News_image{
    display: flex;
    margin-bottom: 15px;
}
.News_image>.News_image_box{
    display: flex;
    width: 33.33333%;
    height: 211.031px;
    max-height: 18.98435185185185vh;
    padding: 0 calc(0.8333% + 3px);
    overflow: hidden;
}
.News_image>.News_image_box>a{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-position: center center!important;
    background-size: 130% 100% !important;
}
.News_image>div:nth-child(1)>a{
    background: url("../img/ow_home/News_1.jpg") no-repeat;

}
.News_image>div:nth-child(2)>a{
    background: url("../img/ow_home/News_2.jpg") no-repeat;
}
.News_image>div:nth-child(3)>a{
    background: url("../img/ow_home/News_3.jpg") no-repeat;
}
.News_image_box .introduce{
    text-align: left;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #000000BF;
    font-size: 18px;
    padding: 15px 20px;
    color: #f0edf2;
}
.News_content>.more_news{
    display: inline-block;
    padding: 7.5px 65px;
    background-color: #00a5e2;
    border: 1px solid #00a5e2;
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
    border-radius: 3px;
    transition: all 0.1s linear;
}
.News_content>.more_news:hover{
    transition: all 0.1s linear;
    background-color: rgb(12,189,255);
    border-color: rgb(12,189,255);
}
/*
新闻公告结束
 */

/*
了解详情/守望先锋典藏版/畅玩版
 */
.learn_details{
    width: 100vw;
    height: 550px;
    overflow: hidden;
    background-position: top center!important;
    background: url("../img/ow_home/learn_details_heroImg.jpg") no-repeat;
}
.details_content{
    padding: 0 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.details_content_box{
    width: 50%;
}
.details_content_box>h2{
    font-style: italic;
    font-weight: 400;
    font-size: 48px;
    color: #545863;
    letter-spacing: 1px;
}
.details_content_box>p{
    color: #c6a354;
    font-size: 24px;
    margin-bottom: 7.2px;
}
.details_content_box>div{
    max-width: 576px;
    line-height: 26px;
    font-size: 18px;
}
.more_details{
    display: inline-block;
    border: 1px solid #FF9C00;
    background-color: #FF9C00;
    padding:6px 30px ;
    border-radius: 3px;
    color: #fefefe;
    font-size: 20px;
    font-weight: 700;
    margin-top: 28px;
    transition: all 0.1s linear;
}
.more_details:hover{
    border: 1px solid rgb(255,176,51);
    background-color: rgb(255,176,51);
    transition: all 0.1s linear;
}
/*
了解详情 《新鲜血液》
 */
.learn_details_book{
    height: 311px;
    max-height: 300px;
    background: url("../img/ow_home/learn_details_hero_Book.jpg") no-repeat;
}
.learn_details_book>.details_content{
    text-align: right;
    justify-content: flex-start;
}
.learn_details_book>.details_content>.details_content_box{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.learn_details_book .more_details{
    width: 160px;
    margin-top: 20px;
    font-size:21px;
    box-sizing: unset;
    padding:12px 20px!important;
    background-color:rgb(23,133,200);
    border-color:rgb(23,133,200);
    display: flex;
    justify-content: center;
    align-items: center;
}
.learn_details_book h2{
    color: #ffffff;
    font-style: unset;
    font-size: 24px;
    margin-top: 24px;
}
.learn_details_book div{
    font-size: 18px;
    color: #ffffff;
    margin-top: 9px;
}
/*
了解详情结束
 */

/*
各具特色的英雄
 */
.ow_hero{
    width: 100%;
    /*max-height: 1000px;*/
    box-sizing: unset;
    background: url("../img/ow_home/bg_hero.jpg") no-repeat;
    background-position: top!important;
    background-size: cover !important;
    padding: 80px 0;
}
.ow_hero_title{
    text-align: center;
    width: 100%;
    max-width: 1250px;
    padding: 0 30px;
    margin: 0 auto;
    font-weight: 500;
    color: #333333;
}
.ow_hero_title>h2{
    letter-spacing: 1px;
    font-size: 58px;
    font-style: italic;
    margin-bottom: 44px;
}
.ow_hero_title>p{
    max-width: 26em;
    font-size: 24px;
    margin:0 auto 20px auto;
}
.ow_hero_show{
    width: 100%;
    height: 446px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.hero_name_introduction_bg{
    width: 100%;
    max-width: 1920px;
    min-height: 200px;
    padding: 10px 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    /*线性渐变背景图*/
    background-image: linear-gradient(to right,rgba(42,55,81,0), rgba(42,55,81,.8) 25%,rgba(42,55,81,.8) 50%,rgba(42,55,81,.8), rgba(42,55,81,0));
    background-size: 1920px auto;
    background-position: center;
}
.hero_name_introduction_bg>.hero_introductionBox{
    max-width: 1250px;
    padding: 0 30px;
    margin: 0 auto;
    width: 100%;
    position: relative;
    z-index: 98;
}
.hero_introductionBox>h2,
.hero_introductionBox>div{
    padding-left: 64%;
    text-align: center;
    font-weight: 500;
    color: #f0edf2;
}
.hero_introductionBox>h2{
    font-style: italic;
    font-size:58px;
    text-shadow: 0 1px 2px #000;
}
.hero_introductionBox>div{
    margin-top: 8px;
    font-size: 16px;
}
.hero_introduction_image{
    width: 100%;
    max-width: 1250px;
    height: 100%;
    padding: 0 30px;
    position: absolute;
    background-size: auto 100% !important;
    background-position: 45%!important;
}

.ow_hero>.hero_iconBox{
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    /*height: 340px;*/
    padding: 0 30px;
}
.hero_iconBox>.hero_icon_item{
    width: 100%;
    max-width: 1250px;
    display: flex;
    flex-wrap: wrap;/*解决li不换行*/
    justify-content: center;
}
.hero_icon_list{
    width: 82px;
    min-width: 82px;
    height: 113.8px;
    position: relative;
    display: flex;
    justify-content: center;
}
.hero_icon_list>a{
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 113.8px;
    justify-content: flex-end;
    flex-direction: column;
}
.hero_icon_imgBox{
    transform: skew(25rad);
    background-color: rgba(51,51,51,.9) !important;
    width: 70px;
    height: 84px;
    border-radius: 7px;
    background-size: auto 100% !important;
    background-position: center!important;
    border: 3px solid #f0edf2;
    border-left-width: 0;
    border-right-width: 0;
    margin: 0 auto;
}
.hero_icon_nameBox{
    height: 22px;
    display: flex;
    justify-content: center;
}
.hero_icon_name{
    display: block;
    white-space: nowrap;
    height: 22px;
    font-size: 13px;
    color: #333333;
    background-color: #f0edf2;
    border-radius: 5px;
    position: absolute;
    padding: 1px 10px;
}
.hero_icon_imgBox_hover,
.hero_icon_imgBox_hover1{
    width: 84px;
    height: 100.8px;
    border-right-width: 3px;
    border-left-width: 3px;
    background-color: #f7931e!important;
    border-radius: 7px 7px 0 0 ;
}
.hero_icon_name_hover,
.hero_icon_name_hover1{
    bottom: 10px;
}
/*
各具特色的英雄 结束
 */

/*
购买守望先锋
 */
.ow_buyGame{
    width: 100%;
    padding: 51px 0;
    background: url("../img/ow_home/buy-ow-bg.jpg") no-repeat;
    background-size:cover!important;
    background-position: 50%!important;
    position: relative;
}
.ow_buyGame_hero_bg{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 680px;
    height: 370px;
    background: url("../img/ow_home/buy-hero-bg.png") no-repeat;
}
.ow_buyGame_content{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 100;
}
.ow_buyGame_content>h2{
    font-size: 58px;
    font-style: italic;
    font-weight: 500;
    color: #333333;
}
.ow_buyGame_content>div{
    font-size: 24px;
    margin: 12px 0 20px 0;
    text-align: center;
}
.ow_buyGame_content>a{
    padding: 6px 30px;
    border: 3px solid #ff9c00;
    background-color:#ff9c00 ;
    color: #fefefe;
    font-size:20px ;
    font-weight: 700;
    border-radius: 3px;
    border-top: 0;
    border-bottom: 0;
}
.ow_buyGame_content>a:hover{
    background-color:rgb(255,176,51);
    border-color:rgb(255,176,51) ;
}
/*
购买守望先锋
 */




/*
PC端隐藏Mobile端元素
↓
↓
 */
.mobile_learn_details_bgImg{
    display: none;
}
.video_mobile{
    display: none;
}
.MP_click_age_Tips{
    display: none;
}





@media (max-width: 767px){
    /*
    视频
     */
    .age_Tips{
        left: 0;
        top: 48px;
    }
    .indexOW_video_text{
        margin-top: -50px;
        min-width: 90vw;
    }
    .OW_index_video{
        margin-top: -48px!important;
    }
    .indexOW_video{
        height: 100%;
        position: absolute;
        z-index: -1;
    }
    .indexOW_video_text_button{
        flex-direction: column;
    }
    .indexOW_video_text_button>a{
        margin: 5px 0!important;
        padding: 10px 45px!important;
        max-width: 255.25px!important;
        min-width: 229.22px!important;
        border-right: 3px!important;
    }
    .play_stop_video{
        left: 10px!important;
        bottom: 20px!important;
        transform: unset!important;
    }
    /*
    新闻公告
     */
    .OW_News_Notice>.News_content>.title{
        font-size: 30px;
    }
    .OW_News_Notice>.News_content{
        padding: 0 15px;
    }
    .OW_News_Notice>.News_content>.News_image{
        flex-direction: column;
    }
    .News_image>.News_image_box{
        width: 100%;
        height: 40.66vw;
        max-height: unset;
        margin-bottom: 20px;
    }
    .News_image_box .introduce{
        font-size: 14px;
    }
    .News_image>.News_image_box>a{
        background-size: cover !important;
    }
    .News_content>.more_news{
        width: 100%;
    }
    /*
        了解详情   ①守望先锋典藏版/畅玩版
     */
    .mobile_learn_details_bgImg{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .mobile_learn{
        background: url("../img/ow_home/learn_details_heroImg_mobile2.jpg") no-repeat;
        background-size:200%;
        background-position: top center!important;
    }
    .mobile_learn2{
        background-size: 200% !important;
        background: url("../img/ow_home/learn_details_hero_Book_mobile.jpg") no-repeat;
        background-position: top center!important;
    }
    .learn_details{
        padding-bottom: 54px;
        padding-top:68%;
        position: relative;
        height: auto;
        background: unset;
    }
    .learn_buy{
        background: unset;
    }
    .details_content{
        flex-direction: column;
    }
    .details_content,
    .details_content_box{
        width: 100%;
    }
    .details_content_box{
        text-align: center;
    }
    .details_content_box>h2{
        font-size: 27px;
    }
    .details_content_box>p{
        font-size: 21px;
    }
    .details_content_box>div{
        font-size: 16px;
        max-width: 100%;
    }
    .learn_details_book div,
    .learn_details_book h2{
        color: #4b535d;
        margin-top: unset;
    }
    .learn_details_book>.details_content>.details_content_box{
        align-items: center;
    }
    .learn_details_book .more_details{
        padding: 7px 15px !important;
        font-size: 16px;
    }
    .learn_details_book{
        max-height: unset;
    }
    /*
    各具特色的英雄
     */
    .ow_hero_title>h2{
        font-size: 39.0625px;
    }
    .ow_hero_show{
        display: none;
    }
    /*
    购买守望先锋
     */
    .ow_buyGame_hero_bg{
        display: none;
    }
    .ow_buyGame_content>h2{
        font-size: 39.0625px;
    }
    .ow_buyGame{
        padding: 30px 0;
    }




    /*手机端点击左上角16+弹出提示*/
    .MP_click_age_Tips{
        display: none;
        position: fixed;
        width: 90vw;
        margin: 0 auto;
        height: 500px;
        background-color: red;
    }
}


@media (min-width: 1903px) {
    .play_stop_video{
        transform: translateX(-768px);
    }
    /*防止缩放页面导致页面视频不适配屏幕宽高*/
    .indexOW_video{
        min-height: 100%;
        min-width: 100%;
    }
}
@media (min-width: 2700px) {
    /*
    了解详情背景图缩放
     */
    .learn_details{
        background-position: center top!important;
        background-size: 100% 46vh!important;
    }
    .learn_details_book{
        background-position: center center!important;
        background-size: 100% 23vh!important;
    }
}